{% extends "base.html" %}
{% block title %}Data Export Settings {% endblock %}
{% block main_container %}
<h3>Draco Collector: Data Export</h3>
<form action="{% url 'exportCSV' %}" method="post">
	{% csrf_token %}
	<table cellpadding="5" cellspacing="5">
	{{ form.as_table }}
	<tr><td></td><td><input type="submit" value="Export CSV"/></td></tr>
</table>
</form>
{% endblock %}
